
  @font-face {
    font-family: 'DLDucklabc-Thin';
    src: url("../font/DLDucklabc-Thin.ttf") format('truetype'), 
         url("../font/DLDucklabc-Thin.woff") format('woff'),
         url("../font/DLDucklabc-Thin.woff2") format('woff2');
  }
  @font-face {
    font-family: 'DLDucklabc-Thinbold';
    src: url("../font/DLDucklabc-Thinbold.woff2") format('woff2'),
         url("../font/DLDucklabc-Thinbold.woff") format('woff'),
         url("../font/DLDucklabc-Thinbold.ttf") format('truetype');
  } 
  @font-face {
    font-family: 'DLDucklab-Thinlight';
    src: url("../font/DLDucklab-Thinlight.ttf") format('truetype'),
         url("../font/DLDucklab-Thinlight.woff") format('woff'),
         url("../font/DLDucklab-Thinlight.woff2") format('woff2');
  } 
  @font-face {
    font-family: 'DLDucklabc-Thinitalic';
    src: url("../font/DLDucklabc-Thinitalic.woff") format('woff'),
         url("../font/DLDucklabc-Thinitalic.ttf") format('truetype'),
         url("../font/DLDucklabc-Thinitalic.woff2") format('woff2');
  }
  

 
body{
    font-family: 'DLDucklabc-Thin'!important;
    margin:0;
    width: 100%;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    letter-spacing: 0px !important;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    
}

html {
  height: -webkit-fill-available;
}

a{
    /* color: black!important; */
}





.fontstyle_1{
    font-family: 'DLDucklabc-Thin'!important;

}

.text_header_1{
    /* font-family: 'DLDucklabc-Thin'!important; */
    font-family: 'DLDucklabc-Thinbold'!important;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 91px;
}

.text_header_2{
    /* font-family: 'DLDucklabc-Thin'!important; */
    font-family: 'DLDucklab-Thinlight'!important;
    font-style: normal!important;
    font-weight: 300!important;
    font-size: 36px!important;
    line-height: 20px!important;
}
.hero-digital-agency p{
    margin: -14px 0 78px 0;
}

/* .hero{
     height: 100vh !important; 
} */
.hero .portfolio-split-screen .split-carousel button.owl-prev:hover {
    background-color: #593036;
}
.hero .portfolio-split-screen .split-carousel button.owl-next:hover {
    background-color: #593036;
}


.btn_bg_1{
    background-color:#A7327D!important ;
    border: 1.5px solid #a7327d; 
    font-family: 'DLDucklab-Thinlight'!important;
    font-size: 20px!important;

    font-style: normal;
    font-weight: 300;  
    letter-spacing: 0px;

}
.btn_bg_1:hover{
    color: #fff !important;
}
.hero-digital-agency .btn{
    background-color:#A7327D!important ;
    border: 1.5px solid #a7327d; 
    font-family: 'DLDucklab-Thinlight'!important;
    font-size: 22px!important;
    font-style: normal;
    font-weight: 300;  
    letter-spacing: 0px;
    padding-top: 1px;
}
.hero-digital-agency .btn:hover, .hero-creative-agency .btn:hover {
    background-color:#FFF!important ;
    color: #a7327d;
}
.hero-digital-agency{
    background-color: #fff !important;
}

.text_3{
    letter-spacing: 0px;
    font-size: 20px;

}

.text_4{
    font-family: 'DLDucklabc-Thinbold'!important; 
    font-size: 40px!important;
    margin-top: 0!important;
    color: #A7327D;
}

.text_5{
    font-family: 'DLDucklabc-Thin'!important;
    font-size: 18px;
    letter-spacing: 0px;
    line-height :1 !important;
    letter-spacing: -0.7px;
    
}
.text_5_1{
    font-family: 'DLDucklab-Thinlight'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    color: #6A6A6A;
    letter-spacing: 0px;
   
}

.text_5_2{
    font-family: 'DLDucklab-Thinlight'!important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #882368;
    letter-spacing: 0px;
    
   
}

.text_5 a{
    color: #882368 ;
    letter-spacing: -0.7px;
}
.blog-post .entry-title.text_5 a:hover{
  color: #593036 !important;
} 
.read-more:hover{
    color: #593036 !important;
}
.read-more:hover:before{
    color: #593036 !important;
    background: #593036 !important;
}
.text_6{
    font-family: 'DLDucklabc-Thin'!important;
    font-size: 22px!important; 
    line-height :1 !important;
    letter-spacing: 0px;
}

.text_7{
    font-family: 'DLDucklabc-Thin'!important;
    font-size: 23px!important; 
    line-height :1 !important;
    margin-bottom: 0!important;

}

.icon_cercle{
    float: left;
    border-radius: 45px;
    height: 70px!important;
    position: relative;
    margin-right: 35px;
    width: 70px!important;
    background: #3d1010 !important;;
}

.img_bg_1{
    background: url("../img/img_08.jpeg")!important;
}


.bg_num_1{
    background-color: #593036;
    padding-top: 20px!important;
    padding-bottom: 20px!important;  
}

.bg_work_1{
    background-color: white!important;
}

.colortext_back{
    color: black!important;
}
.bg_num_1 h2{
    font-family: 'DLDucklabc-Thin'!important;
    font-size: 25px!important; 
    letter-spacing: 0px;

}

.imgbox_6{
    background-color: white!important;
    overflow: hidden;
}

.img_6{ 
    /* height: 530px; */
    position: relative;
    width: 83%;
}


.services-block_01 .services-image{
    background: white;

}

.test{
    font-size: 50px; 
}

.text_menu{ 
    /* font-family: 'DLDucklabc-Thin'!important; */
    /* font-family: 'DLDucklabc-Thinbold'!important; 
    font-size: 25px!important; */
}

.owl-stage{
    transition: all 0.5s ease 0s  !important;
}


.text_menu li{
    font-family: 'DLDucklabc-Thinbold'!important; 
    font-size: 16px!important;
  
}

.main-header .navigation > ul > li{
    letter-spacing: 0px!important;
    margin-left: 52px;
}
.header-inverse .navigation > ul > li > a{
    font-size: 22px;
}

.bg_footer{
    background-color: #5B3238!important;
}

.padding_1{
    padding-top: 0px;
}

.logo_top{
    height: 129px!important;
    margin-top: 5px!important;
    margin-left: -75px!important;
}

.portfolio-split-screen {
    width: 100%;
}

.portfolio-split-screen .content, .portfolio-split-screen .img{
    width: 100% !important;
}

/* #slider1{
    overflow: hidden;
}
#slider1 figure{
    position: relative;
    width: 500%;
    height: 800px;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider1 figure img{
   width: 20%;
   float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
} */

.bg_home_top{
    /* animation: slideBg 60s infinite 0s;
    animation-timing-function: ease-in-out; */
    background-image: url('../img/01_Home_Banner/HomeBanner_05.jpg');

}

/* @-webkit-keyframes slideBg{
    16.66% {
        background-image: url('../img/01_Home_Banner/HomeBanner_02.jpg');
    }
    33.22% {
        background-image: url('../img/01_Home_Banner/HomeBanner_03.jpg');
    }
    49.98% {
        background-image: url('../img/01_Home_Banner/HomeBanner_04.jpg');
    }
    66.64% {
        background-image: url('../img/01_Home_Banner/HomeBanner_05.jpg');
    }
    83.3% {
        background-image: url('../img/01_Home_Banner/HomeBanner_06.jpg');
    }
   99.96% {
        background-image: url('../img/01_Home_Banner/HomeBanner_07.jpg');
    }
} */

.blog-category{
    color: #000 !important;
}
.irregular-grid-3-columns .portfolio-item-title{
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.5rem;
    margin-bottom: 0px;
    letter-spacing: 0px;
}
.portfolio-item-category{
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.2rem;
    letter-spacing: 0px;
}
.irregular-grid-3-columns .portfolio-item-overlay, .portfolio-grid-2-columns-style_02 .portfolio-item-overlay {
    background: rgb(54 54 54 / 90%)!important;
}
.facts-item .number { 
    margin-bottom: -27px!important;
    padding-top: 15px;
} 
.full-width-navigation{
    background: #5B3238!important;
}
.full-width-navigation nav li {
    font-size: 1.5rem;
}

.header-inverse .navigation > ul > li > a {
    font-size: 22px;
    color:  #A7327D ;
}

.text-white{
    color:  #fff !important;
}

.header-inverse-hover .navigation > ul > li > a:hover {
    color:  #000000 ;
}
/* .container-border{
    border-bottom: solid #A7327D 1px;
    justify-content: center;
    align-items: center;
} */

.about-detail-font{
    margin-top: 4%;
    margin-bottom: 4%;
}
.about-detail-font p{
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.8rem;
    line-height: 1.4 !important;
}

.project-intro_03 p {
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.8rem;
    line-height: 1.4 !important;
}
.blog-list .blog-post p {
    font-family: 'DLDucklab-Thinlight';
    font-size: 22px;
    line-height: 1.4;
}

.team_02 .team-member {
	float: left;
	width: 50% !important;
}



.text_header_about{
    /* font-family: 'DLDucklabc-Thin'!important; */
    font-family: 'DLDucklabc-Thinbold'!important;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 91px;
    color: #A7327D;
}

.content-header{
    font-family: 'DLDucklabc-Thinbold';
    font-size: 30px;
    color: #A7327D;
}
.content-header:hover{
    font-family: 'DLDucklabc-Thinbold';
    font-size: 30px;
    color: #000;
}

.content-subheader{
    font-family: 'DLDucklabc-Thin';
    font-size: 22px;
    color: #A7327D;
}
.content-subheader:hover{
    font-family: 'DLDucklabc-Thin';
    font-size: 22px;
    color: #000;
}



.btn-icon{
    width: 200px !important;
}



.content-header-detail{
    font-family: 'DLDucklabc-Thinbold';
    font-size: 30px;
    color: #A7327D;
}
/* .content-header-detail:hover{
    font-family: 'DLDucklabc-Thinbold';
    font-size: 30px;
    color: #000;
} */

.content-subheader-detail{
    font-family: 'DLDucklabc-Thin';
    font-size: 22px;
    color: #4B4B4B;
    
}

.content-subheader-detail:hover{
    font-family: 'DLDucklabc-Thin';
    font-size: 22px;
    color: #4B4B4B;
    
}



.text-next{
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.4rem;
    margin-top: 2%;
    float: right;
    color: #6A6A6A;
    text-decoration: none;
}
.text-next:hover{
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.4rem;
    margin-top: 2%;
    float: right;
    color: #A7327D;
    text-decoration: none;
}
.text-prev{
    font-family: 'DLDucklab-Thinlight';
    font-size: 1.4rem;
    margin-top: 2%;
    float: right;
    
    
}
.text-next-detail{
    font-family: 'DLDucklab-Thinlight';
    font-size: 22px;
    margin-top: 2%;
    
}
.text-title-btm {
    font-family: 'DLDucklabc-Thinbold';
    font-size: 22px;
    float: right;
    margin-top: -25px;
    color: #A7327D;
  
}

.blog-list {
    margin: 80px 0 30px 0 !important;
}


.img-drop-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-intro1{
    text-align: right;
}
ol, ul {
    padding-left: 0rem !important;
}

.blog-list .blog-post .post-content {
    height: 100% ;
}

.btn-travel{
    font-size: 22px;
    background-color: #6F1751 !important;
    border-color: #6F1751 !important;
}

.btn-travel i{
    font-size: 22px;
    margin-right: 1px !important;
    margin-left: 25px;
    margin-top: 5px;
}
.btn-travel h2{
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: 1px;
}
.btn-travel:hover{
    font-size: 22px;
    background-color: #fff !important;
    border-color: #000 !important;
    color: #6F1751 !important;
}


.btn-travel-detail{
    font-size: 22px;
    background-color: #A7327D !important;
    border-color: #A7327D !important;
    margin-top : 3.8rem !important;
    float: right;
}
.btn-travel-detail:hover{
    font-size: 22px;
    background-color: #fff !important;
    border-color: #000 !important;
    color: #A7327D !important;
}
.single-project_04 .project-intro_03 {
    margin-bottom: 50px !important;
}


.btn-icon {
    /* width: 200px !important; */
    width: 170px !important;
    height: 50px !important;
}

.btn-product{
    font-size: 22px;
    background-color: #6F1751 !important;
    border-color: #6F1751 !important;
  
    
}

.btn-product i{
    font-size: 22px;
    margin-right: 1px !important;
    margin-left: 25px;
    margin-top: 5px;
}
.btn-product h2{
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: 1px;

}
.btn-product:hover{
    font-size: 22px;
    background-color: #fff !important;
    border-color: #000 !important;
    color: #6F1751 !important;
}
.photo-category-overlay h2{
    font-family: 'DLDucklabc-Thinbold'!important;
    letter-spacing: 0.5px;
}


.btn-product-home{
    font-size: 22px;
    background-color: #6F1751 !important;
    border-color: #6F1751 !important;
    margin-top: 30px;
}

.btn-product-home i{
    font-size: 22px;
    margin-right: 1px !important;
    margin-left: 25px;
    margin-top: 5px;
}
.btn-product-home h2{
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: 1px;

}
.btn-product-home:hover{
    font-size: 22px;
    background-color: #fff !important;
    border-color: #000 !important;
    color: #6F1751 !important;
}
.photo-category-overlay h2{
    font-family: 'DLDucklabc-Thinbold'!important;
    letter-spacing: 0.5px;
}

.text_header_gallery{
    /* font-family: 'DLDucklabc-Thin'!important; */
    font-family: 'DLDucklabc-Thinbold'!important;
    font-style: normal;
    font-size: 34px;
    color: #A7327D !important;
}

.text_header_gallery:hover{
    color: #000 !important;
}

.close-gallery{
    display:flex; 
    font-size:20px;
}

.about-intro_02 i{
    color: #A7327D !important;
}

.about-intro_02_top {
    margin-top: -5px !important;
}
.about-detail-font i{
    color: #A7327D !important;
}
.navbar-color .open-nav i{
    color: #A7327D !important;
}

.project-details_01 li{
    color: #A7327D;
    font-size: 22px !important;
    padding-right: 110px !important;
    float: right;
    letter-spacing: 0.1px;
}
.project-details_01 li span {
    margin-left:10px;
}

.project-details_02{
    list-style: none;
    font-size: 24px !important;
}

.project-details_02 li{
    color: #4B4B4B;
    font-family: 'DLDucklabc-Thinbold'!important;
    font-size: 24px !important;
}
.project-details_02 li span{
    font-family: 'DLDucklab-Thinlight'!important;
    font-size: 24px !important;
}

.single-project_04 .project-details_01 {
    margin-top: 10px !important;
}

.btn-home{
    font-family: 'DLDucklab-Thinlight' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 26px !important;
    color: #FFFFFF !important;
    text-align: center !important;
    margin: auto;
    border: 1px solid #FFFFFF !important;
    border-radius: 30px !important;
    width: 233.5px !important;
    height: 52px !important;
}

.btn-home:hover{
    color: #000 !important;
}

.icon-box_03 .icon{
    border-radius: 70px;
    box-shadow: 0px 4px 15.3px 2.7px rgb(68 68 68 / 16%);
    height: 90px !important;
    margin: auto;
    width: 90px !important;
}

.icon-box_03 a{
   text-decoration: none !important;
}
.icon-box_03{
    padding: 65px 0 !important;
}



.number_route{
    font-family: 'DLDucklabc-Thinbold' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
    margin: auto;
    width: 50%;
    padding: 20px;
}
.title_route{
    font-family: 'DLDucklabc-Thinbold' !important;
    color: #A7327D;
    margin-top: 10px;
    font-size: 35px
}

.descrip_route{
    font-family: 'DLDucklab-Thinlight' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
}

.number_route_dis{
    font-family: 'DLDucklabc-Thinbold' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
    margin: auto;
    width: 50%;
    padding: 20px;
}
.title_route_dis{
    font-family: 'DLDucklabc-Thinbold' !important;
    color: #E3E3E3;
    margin-top: 10px;
    font-size: 35px
}

.descrip_route_dis{
    font-family: 'DLDucklab-Thinlight' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 113%;
    color: #E3E3E3;
}

.title-head{
    font-family: 'DLDucklabc-Thinbold' !important;
    color: #A7327D;
    margin-top: 10px;
    font-size: 40px !important;
    text-align: center;
    line-height: 1.2 !important;
    
   
}
.team-member{
    cursor: default;
}

.single-project_04, .single-project_05 {
    margin: 65px 0 75px 0;
}

.product-detail{
    padding-top:70px;
}

.about-intro_02 h1 {
    margin-bottom: 5px !important;
}

.photography .photography-carousel button.owl-prev:hover{
    background: #593036;
}

.photography .photography-carousel button.owl-next:hover{
    background: #593036;
}

.line-menu{
    width:100%; 
    border: 1px solid #A7327D;
}

.banner-gallery{
    padding-top: 13px;
}

@media only screen and (max-width: 2600px){

    
    /* .blog-block_01{
    
        padding-top: 30px;
       
    } */
    
    
}

@media only screen and (max-width: 1980px){
    .hero-digital-agency p{
        margin: -4px 0 78px 0;
        width: 100%;
    }
    .img-travel-detail1{
        margin-bottom: 13rem ;
    }
    .img-travel-detail2{
        margin-bottom: 3rem ;
    }
    .hero{
        height: 100vh;
    }
    .hero .wrapper {
       height: 600px ;
    }

    .hero .wrapper .content {
       margin-top: auto;
     }

     /* .blog-block_01{
    
        padding-top: 300px;
       
    } */

     .blog-block_01{
        margin-top: auto;
        padding: 65px 0;
     }

     .hero{
        height: 100vh;
    }
    .featured-works_01{
        padding: 54px 0 120px 0;
    }
    .travel-half{
        max-width: 50% !important;
    }
    .text_ta2 {
        float: right;
    }
    .about-intro_02 {
        text-align: center;
        margin-top: 50px;
    }
    .text-top1{
        margin-top: 42px ;
    }
    .text-top2{
        margin-top: 38px ;
    }
    
}

@media only screen and (max-width: 1560px){
    

    .blog-block_01{
        margin-top: auto;
     }

     .hero .wrapper {
        height: 480px;
    }

    .hero {
        height: 100vh;
    }

    .text-top1{
        margin-top: 42px ;
    }
    .text-top2{
        margin-top: 38px ;
    }

   
    
}

@media only screen and (max-width: 1280px){
    .hero-digital-agency p{
        margin: -4px 0 78px 0;
        width: 100%;
    }
    .container, .hero .wrapper {
        margin-left: 0px !important; 
        margin-right: 25px;
    }
    .hero{
        height: 100vh;
    }
    /* .hero .wrapper {
        height: 700px !important;
    } */
    .blog-block_01{
        margin-top: auto;
       
    }

    
}

@media only screen and (max-width: 1200px){

    .hero{
        height: 100vh;
    }
    
    .hero .wrapper .content {
        margin-top: auto;
      }
      /* .blog-block_01{
    
        padding-top: 300px;
       
    } */

    .blog-block_01{
        margin-top: auto;
       
    }
    .about-intro_02 i {
        margin-left: -20px !important;
        color: white !important;
    }
    .featured-works_01{
        padding: 54px 0 120px 0;
    }

    .main-header .navigation > ul > li {
        float: left;
        font-size: .75rem;
        letter-spacing: 2.5px;
        list-style: none;
        margin-left: 36.5px;
        position: relative;
        text-transform: uppercase;
    }
    
    
    
    
}


@media (max-width: 992px){
    .container {
        max-width: 1078px !important;
    }
    .banner-gallery{
        height: 72vh;
    }
    .container {
        max-width: 960px;
    }
    .hero{
        height: 60vh;
    }
    .text-top1{
        margin-top: 10px ;
    }
    .text-top2{
        margin-top: 10px ;
    }
}


@media only screen and (max-width: 900px){
    .hero-digital-agency p{
        margin: -5px 0 78px 0;
        width: 100%;

    }
    
    .hero .wrapper .content {
        margin-top: 0px !important;
      }

      .hero .wrapper {
        height: 350px ;
    }

    .blog-block_01{
        margin-top: auto;
        padding: 70px 0;
       
    }
    .btn-product{
        margin-top: 200px !important;
    }

    .blog-list .blog-post .post-content {
        height: 240px !important;
    }
    .text_header_gallery{
       width: 280px;
       font-size: 1.5rem;
    }
    .about-detail-font p {
        font-family: 'DLDucklab-Thinlight';
        font-size: 1.4rem;
        line-height: 1.4 !important;
    }
    .team_02 .team-members_02 {
        float: left !important;
        width: 100%;
    }
    .product-detail{
        padding-top:10px;
    }
    
    .col-6{
        width: 100% !important;
    }
    .about-intro_02 {
        width: 100%;
    }
    
    .about-intro_02 h1 {
        font-size: 50px;
    }
    .hero{
        height: 60vh;
    }
    .blog-list {
        margin: 70px 0 30px 0 !important;
    }
    
}



@media only screen and (max-width: 700px){
    
    /* .blog-block_01{
    
        padding-top: 200px;
       
    } */

    .blog-block_01{
    
        margin-top: auto;
       
    } 
    .col-6{
        width: 100% !important;
    }
    .about-intro_02 {
        width: 100%;
    }
    .title-head{
       
        font-size: 40px !important;
    }
    .icon-box_03 .item{
        width: 100% !important;
    }
    .icon-box_03 .item:nth-of-type(2){
        margin: 0 !important;
    }
    .hero {
        height: 65vh;
    }
    
}

@media (max-width: 576px){
    .container {
        max-width: 700px !important;
    }

    .icon-box_03 .icon{
        height: 80px !important;
        width: 80px !important;
    }
    .number_route{
        padding: 18px;
        font-size: 50px;
    }
    .number_route_dis{
        padding: 18px;
        font-size: 50px;
    }
    .title-head{
        font-size: 30px !important;
    }

    .title_route {
        font-size: 30px ;
    }
    .title_route_dis {
        font-size: 30px ;
    }
    .banner-gallery{
        height: 72vh;
    }
    .travel-half{
        max-width: 50% !important;
    }
    
    
}
@media only screen and (max-width: 570px){
    .facts-item:nth-of-type(1), .facts-item:nth-of-type(2), .facts-item:nth-of-type(3) {
        margin-bottom: 22px;
    }
    .hero-digital-agency p{
        margin: -7px 0 78px 0;
    }
    .img-travel-detail1 {
        margin-bottom: 15rem !important;
    }
    .about-intro_02 h1 {
        font-size: 40px;
    }
    .about-detail-font p {
        font-family: 'DLDucklab-Thinlight';
        font-size: 1.4rem;
        line-height: 1.2 !important;
        padding: 5px;
    }
    .blog-list .blog-post .post-content {
        height: 262px !important;
    }
    .text_6{
        margin-top: 20px !important;
        letter-spacing: 0px;
    }
    .hero .content {
        padding-left: 35px;
    }
    .blog-list {
        margin: 70px 0 30px 0 !important;
    }
    .title-head{
        font-size: 30px ;
    }
    
    
}



@media only screen and (max-width: 420px){ 
    .hero-digital-agency h1 {
        font-size: 3.5rem;
        margin-bottom: 15px;
    }
    .product-detail li{
        float: right;
        display: flex;
        padding-right: 10px !important;
     }
    .product-detail li span{
       margin-top: 0px !important;
    }
    .travel-left-detail{
        width: 80% !important;
    }
    .travel-right-detail{
        width: 20% !important;
    }
    .img-travel-detail1 {
        margin-bottom: 17rem !important;
    }

    .blog-list .blog-post .post-content {
        height: 310px !important;
    }
    .text_header_2{
        line-height: 35px !important;
    }
    .hero-digital-agency p{
        margin: -16px 0 78px 0;
        width: 100%;

    }
    .title-head{
        font-size: 30px ;
        
    }
    .hero{
        height: 60vh;
     }
    
}

/* @media  (min-width: 414px) and (min-height: 736px) { 
    
    .hero {
        height: 62vh;
    }
    
    
} */

@media  (max-width: 414px) and  (max-height: 736px){ 
    
    .title-head{
        font-size: 27px !important ;
       
    }
    .hero{
        height: 70vh;
     }
    
    
}

@media only screen and (max-width: 400px){ 
    
    .title-head{
        font-size: 27px !important ;
       
    }
    .hero{
        height: 65vh;
     }
    
    
}


@media only screen and (max-width: 375px){ 
    

    .hero{
        height: 78vh;
     }
    
    
}





@media only screen and (max-width: 360px){ 
    
    .title-head{
        font-size: 29px !important ;
       
    }
    .title-head br{
        display: none;
    }
     .hero{
        height: 65vh;
     }
    
}

@media screen and (max-width: 320px), screen and (max-height: 568px) { 
    
    .title-head{
        font-size: 24px !important ;
       
    }
    .hero {
        height: 95vh;
    }
    
    
}




 




